.sizing{
    min-height: 50px;
}

.dropped-recipe {
    padding: 8px;
    border: 1px solid #161616;
    background-color: #02025a;
    color: white;
    border-radius: 4px;
    text-align: center;
}

.droppable-area {
    border: 1px solid #313131;
    border-radius: 4px;
    padding: 8px;
    margin: 5px;
    background-color: #e9e9e9;
    min-height: 80px;
}