.sizing{
    min-height: 50px;
}

.dropped-recipe {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #e0ffe0;
    border-radius: 4px;
    text-align: center;
}

.droppable-area {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin: 5px;
    background-color: #f0f0f0;
    min-height: 50px;
}